* {
  margin: 0;
  background: rgb(0, 0, 0);
}

a {
  margin: 0;
}

.bg {
  background: blue;
  display: flex;
  flex-direction: column;
  width:100vw;
  height:100vh;
}

.sea {
  /* background: black; */
  background-image: url(waves.gif);
  background-size: cover;
  display:flex;
  flex-direction: row;
  width:100%;
  height:50%;
  justify-content:center;
  flex-wrap: wrap;
  /* align-items: center; */
  /* padding: 20px; */
}

.moon {
  /* margin-top: 20px; */
  margin: 20px auto;
  height: 100px;
  width: 103px;
  background: white;
  border-radius: 50%;
  filter:blur(4px);
  animation: 3s spin infinite alternate;
  position: fixed;
  top: 15px;
}

.oyster {
  height: 120px;
  width: 200px;
  background: white;
  border-radius: 50%;
  /* margin: 0 10%; */
  animation: 70s travel infinite;
  filter:blur(20px);
  margin-top:-10px;
}

.pearl {
  margin-top: 30px;
  background:white;
  width:0.3em;
  height:0.3em;
  border-radius: 50%;
  animation: 2.3s drift infinite alternate;
}

.pearl2 {
  margin: 50px;
  background:white;
  width:0.25em;
  height:0.25em;
  border-radius: 50%;
  animation: 4s drift2 infinite alternate;
}

.pearl3 {
  margin-top: 30px;
  background:white;
  width:0.5em;
  height:0.5em;
  border-radius: 50%;
  animation: 2s drift infinite alternate;
}

.pearl4 {
  margin: 30px;
  background:white;
  width:0.6em;
  height:0.6em;
  border-radius: 50%;
  animation: 6s drift2 infinite alternate;
}

@keyframes drift {
  0% {
    transform: translatex(0px);
  }

  100% {
    transform: translatex(400px);
  }
}

@keyframes drift2 {
  0% {
    transform: translatey(0px);
  }

  100% {
    transform: translatey(400px);
  }
}

@keyframes sky {
  0% {
    background: #5e7c43;
  }
  10% {
    background: rgb(63, 128, 58);
  }
  50% {
    background: rgb(115, 136, 79);
  }
  90% {
    background: rgb(52, 116, 85);
  }
  100% {
    background: rgb(75, 112, 78);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes travel {
  0% {
    transform: translatex(-3000px);

  }
  25% {
    transform: translatex(-1200px);
  }
  50% {
    transform: translatex(-1600px);
  }

  100% {
    transform: translatex(800px);
  }

}

.moon:hover {
  height:200px;
  width:205px;
  background:#681594;
  top:-35px;
}
