* {
  box-sizing: border-box;
  margin: 0;
  /* font-family: cursive; */
}

img {
  width:100%;
}

p {
  font-family: Avara, cursive;
  text-align: center;
  font-size: 30px;
  color: rgb(230, 113, 5);
}

input {
  height: 40px;
  width: 40%;
  border: 7px solid rgb(43, 129, 49);
  font-style: oblique;
  color: rgb(43, 129, 49);
  background: rgb(153, 212, 156);
}

button {
  height: 40px;
  width: 100px;
  border: 7px solid rgb(43, 129, 49);
  color: rgb(39, 99, 43);
  background: rgb(101, 163, 104);
}

input:focus {
  outline: 4px solid rgb(230, 133, 5);
}

button:focus {
  outline: 4px solid rgb(230, 133, 5);
}

.story {
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%,
rgba(255,255,255,1) 10%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 65%, rgba(255,255,255,0) 100%);
position:fixed;
left:35.25%;
top: 22.2%;
width:424px;
height:485px;
border-radius: 10%;
  border: 7px solid rgb(43, 129, 49);
}

.uni {
  background: black;
  width: 100vw;
  height: 100vh;

  display: flex;
  overflow: hidden;
  flex-flow: column;
}

.heaven {
  background: white;
  width:100%;
  height:25%;
  padding: 30px;
  padding-bottom: 20px;

  display:flex;
  align-items:baseline;
  justify-content: center;
}

.cloud {
  background: white;
  width:100%;
  height:100%;

  display:flex;
  align-items: flex-end;
  justify-content: center;
}

.earth {
  background: white;
  width:100vw;
  height:100%;

  display:flex;
  flex-flow: row;
  padding: 70px;
  padding-top: 10px;
}

.mountain {
  background: white;
  border: 7px solid rgb(43, 129, 49);
  width:450px;
  height:480px;
  margin: 0 5px;
  border-radius: 10%;
  padding: 10px 0;

  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: center; */
}

.nest img {
  width: 85px;
  margin: 5px;
  /* margin: -10px; */
}

.nest {
  display:flex;
  flex-flow: row;
  padding: 5px;
  overflow: scroll;
  flex-wrap: wrap;
}


@font-face {
    font-family: "Avara";
    src: url("avara-black.otf")
    format("opentype");
}


@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}

@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
